<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sign-In</title>
</head>
<body>
        <div class="container">
            <a class="navbar-brand title-icon" href="#"><span class="font-primary">Agaetis</span></a>
            </div>
        
    <section class="signin">
        
        <div class="sec">
        <p class="hd"> <span> <br> Sign In </span></p>
        <div class="input">
            <form method="post"> {% csrf_token %}
                <p class="inp"> {{ form.as_p }} </p>
    
    
    
        </div>
        <br>
        <div class="btn"><Button class="signin" type="submit">Sign In</Button></div>
        <div class="Sign-Up"><p class="signup_text">Don't have an account?</p> <a href="{% url 'register' %}">Sign-Up</a></div>
        {% csrf_token %}
        </form>
    
        <div class="copyright"> <br> <br>
            <p>Copyright © <a href="/"> Agaetis </a> 2023</p>
        </div>
        </div>

    
    </section>
    
</body>
</html>